
  .card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.115s;
    cursor: pointer;
    width: 350px;
   }
  
  .card:hover {
    box-shadow: 0.2rem 0.2rem black;
    translate: 0.2rem 0.2rem;
  }
  
  .card h2 {
    font-size: 2rem;
    border-left: 0.5rem solid #
  }
  
  .card img {
    border-radius: 1rem;
  }
  
  .tags {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
  .tags > .tag {
    padding: 0.25rem 0.5rem;
    background: #FFFFFF;
    color: #000000;
    border-radius: 0.5rem;
    margin: 1rem;
  }