.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e6e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
}

.header > .logo-link {
    display: flex;
}

.header > nav {
    display: flex;
    gap: 1rem;
}